$primary: rebeccapurple;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: skyblue;
}

.item-row {
    display: grid;
    grid-template-columns: 100px calc(100% - 115px);
    grid-gap: 15px;
}
